<block name="body">
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try {
                        ace.settings.check('breadcrumbs', 'fixed')
                    } catch (e) {
                    }
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="{:U('Index/index')}">管理中心首页</a>
                    </li>
                    <volist name="ur_here" id="vo">
                        <li>
                            <a href="{$vo.url|U}">{$vo.title}</a>
                        </li>
                    </volist>
                </ul><!-- /.breadcrumb -->

            </div>
            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <div class="page-header">
                    <h1>{$meta_title}</h1>
                </div>
                <block name="page_content">

                </block>
            </div>
        </div>
    </div>
</block>
