<script type="text/javascript">
    if ('ontouchstart' in document.documentElement)
        document.write("<script src='__JS__/jquery.mobile.custom.js'>" + "<" + "/script>");
</script>
<script src="__JS__/bootstrap.js"></script>
<block name="footer_script">

    <!-- ace scripts -->
    <script src="__JS__/ace/ace.js"></script>
    <script src="__JS__/ace/ace.sidebar.js"></script>
    <!--
   <script src="__JS__/ace/elements.scroller.js"></script>
        <script src="__JS__/ace/elements.colorpicker.js"></script>
        <script src="__JS__/ace/elements.fileinput.js"></script>
        <script src="__JS__/ace/elements.typeahead.js"></script>
        <script src="__JS__/ace/elements.wysiwyg.js"></script>
        <script src="__JS__/ace/elements.spinner.js"></script>
        <script src="__JS__/ace/elements.treeview.js"></script>
        <script src="__JS__/ace/elements.wizard.js"></script>
        <script src="__JS__/ace/elements.aside.js"></script>
        <script src="__JS__/ace/ace.js"></script>
        <script src="__JS__/ace/ace.ajax-content.js"></script>
        <script src="__JS__/ace/ace.touch-drag.js"></script>
        
        <script src="__JS__/ace/ace.sidebar-scroll-1.js"></script>
        <script src="__JS__/ace/ace.submenu-hover.js"></script>
        <script src="__JS__/ace/ace.widget-box.js"></script>
        <script src="__JS__/ace/ace.settings.js"></script>
        <script src="__JS__/ace/ace.settings-rtl.js"></script>
        <script src="__JS__/ace/ace.settings-skin.js"></script>
        <script src="__JS__/ace/ace.widget-on-reload.js"></script>
        <script src="__JS__/ace/ace.searchbox-autocomplete.js"></script>
    -->
</block>