<block name="footer_content">
    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                <span class="bigger-120">
                    <span class="blue bolder">Ww2</span>
                    管理后台 © 2013-2015
                </span>
            </div>

            <!-- /section:basics/footer -->
        </div>
    </div>
</block>
<!--
<script type="text/javascript">
    (function () {
        var ThinkPHP = {
            "ROOT": "__ROOT__", //当前网站地址
            "APP": "__APP__", //当前项目地址
            "PUBLIC": "__PUBLIC__", //项目公共目录地址
            "JS": "__JS__", //项目公共目录地址
            "DEEP": "{:C('URL_PATHINFO_DEPR')}", //PATHINFO分割符
            "MODEL": ["{:C('URL_MODEL')}", "{:C('URL_CASE_INSENSITIVE')}", "{:C('URL_HTML_SUFFIX')}"],
            "VAR": ["{:C('VAR_MODULE')}", "{:C('VAR_CONTROLLER')}", "{:C('VAR_ACTION')}"]
        }
    })();
</script>
-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement)
        document.write("<script src='__JS__/jquery.mobile.custom.js'>" + "<" + "/script>");
</script>
<script src="__JS__/bootstrap.js"></script>

<block name="page_script"></block>
<block name="ace_script">

    <!-- ace scripts -->
    <script src="__JS__/ace/ace.js"></script>
    <script src="__JS__/ace/ace.sidebar.js"></script>
    <!--
   <script src="__JS__/ace/elements.scroller.js"></script>
        <script src="__JS__/ace/elements.colorpicker.js"></script>
        <script src="__JS__/ace/elements.fileinput.js"></script>
        <script src="__JS__/ace/elements.typeahead.js"></script>
        <script src="__JS__/ace/elements.wysiwyg.js"></script>
        <script src="__JS__/ace/elements.spinner.js"></script>
        <script src="__JS__/ace/elements.treeview.js"></script>
        <script src="__JS__/ace/elements.wizard.js"></script>
        <script src="__JS__/ace/elements.aside.js"></script>
        <script src="__JS__/ace/ace.js"></script>
        <script src="__JS__/ace/ace.ajax-content.js"></script>
        <script src="__JS__/ace/ace.touch-drag.js"></script>
        
        <script src="__JS__/ace/ace.sidebar-scroll-1.js"></script>
        <script src="__JS__/ace/ace.submenu-hover.js"></script>
        <script src="__JS__/ace/ace.widget-box.js"></script>
        <script src="__JS__/ace/ace.settings.js"></script>
        <script src="__JS__/ace/ace.settings-rtl.js"></script>
        <script src="__JS__/ace/ace.settings-skin.js"></script>
        <script src="__JS__/ace/ace.widget-on-reload.js"></script>
        <script src="__JS__/ace/ace.searchbox-autocomplete.js"></script>
    -->
</block>


