 
<script>
$(function () {
            var oTable1 =
                    $('#dynamic-table').dataTable({
                "ajax": "{:U('AdminManage/adminList')}",
                language: {
                    "processing": "处理中...",
                    "lengthMenu": "显示 _MENU_ 项结果",
                    "zeroRecords": "没有匹配结果",
                    "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "infoFiltered": "(由 _MAX_ 项结果过滤)",
                    "infoPostFix": "",
                    "search": "搜索:",
                    "url": "",
                    "emptyTable": "表中数据为空",
                    "loadingRecords": "载入中...",
                    "infoThousands": ",",
                    "paginate": {
                        "first": "首页",
                        "previous": "上页",
                        "next": "下页",
                        "last": "末页"
                    },
                    "aria": {
                        "sortAscending": ": 以升序排列此列",
                        "sortDescending": ": 以降序排列此列"
                    }
                },
                autoWidth: false,
                "columns": [
                    {
                        "data": "id",
                        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).html("<input type='checkbox' name='checkList' value='" + oData + "'>");
                        }
                    },
                    {"data": "id"},
                    {"data": "username"},
                    {"data": "last_login_ip"},
                    {"data": "last_login_time"},
                    {"data": "login"},
                    {"data": "status"},
                    {
                        "dataProp": "id",
                        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).html("<a href='javascript:void(0);' " +
                                    "onclick='_editFun(\"" + oData.id + "\",\"" + oData.name + "\",\"" + oData.job + "\",\"" + oData.note + "\")'>编辑</a>&nbsp;&nbsp;")
                                    .append("<a href='javascript:void(0);' onclick='_deleteFun(" + sData + ")'>删除</a>");
                        }
                    },
                ],
                 "columnDefs": [
                    {
                        orderable: false,
                        targets: 0
                    },
                    {
                        orderable: false,
                        targets: 7
                    }
                ],
                "order": [[1, "asc"]]
            });


        })
            //TableTools settings
            TableTools.classes.container = "btn-group btn-overlap";
            TableTools.classes.print = {
                "body": "DTTT_Print",
                "info": "tableTools-alert gritter-item-wrapper gritter-info gritter-center white",
                "message": "tableTools-print-navbar"
            }

            //initiate TableTools extension
            var tableTools_obj = new $.fn.dataTable.TableTools(oTable1, {
                "swfPath": "__JS__/dataTables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",

                "rowSelector": "td:not(:last-child)",
                "rowSelect": "multi",
                "fnRowSelected": function (row) {
                    //check checkbox when row is selected
                    try {
                        $(row).find('input[type=checkbox]').get(0).checked = true
                    }
                    catch (e) {
                    }
                },
                "fnRowDeselected": function (row) {
                    //uncheck checkbox
                    try {
                        $(row).find('input[type=checkbox]').get(0).checked = false
                    }
                    catch (e) {
                    }
                },
                "selectedClass": "success",
                "buttons": [
                    {
                        "extends": "copy",
                        "toolTip": "复制到剪贴板",
                        "buttonClass": "btn btn-white btn-primary btn-bold",
                        "buttonText": "<i class='fa fa-copy bigger-110 pink'></i>",
                        "fnComplete": function () {
                            this.fnInfo('<h3 class="no-margin-top smaller">表格复制成功</h3>\
    <p>已复制 ' + (oTable1.fnSettings().fnRecordsTotal()) + ' 行表格数据到剪贴板.</p>',
                                    1500
                                    );
                        }
                    },
                    {
                        "extends": "csv",
                        "toolTip": "导出到CSV",
                        "buttonClass": "btn btn-white btn-primary  btn-bold",
                        "buttonText": "<i class='fa fa-file-excel-o bigger-110 green'></i>"
                    },
                    {
                        "extends": "pdf",
                        "toolTip": "导出到PDF",
                        "buttonClass": "btn btn-white btn-primary  btn-bold",
                        "buttonText": "<i class='fa fa-file-pdf-o bigger-110 red'></i>"
                    },
                    {
                        "extends": "print",
                        "toolTip": "打印视图",
                        "buttonClass": "btn btn-white btn-primary  btn-bold",
                        "buttonText": "<i class='fa fa-print bigger-110 grey'></i>",
                        "message": "<div class='navbar navbar-default'><div class='navbar-header pull-left'><a class='navbar-brand' href='#'><small>Optional Navbar &amp; Text</small></a></div></div>",
                        "info": "<h3 class='no-margin-top'>打印视图</h3>\
    <p>请使用你的浏览器的打印功能\
        打印此表格.\
        <br />打印完成之后按 <b>ECS</b> 键退出打印视图.</p>",
                    }
                ]
            });
        
            $(tableTools_obj.fnContainer()).appendTo($('.tableTools-container'));
         
            setTimeout(function () {
                $(tableTools_obj.fnContainer()).find('a.DTTT_button').each(function () {
                    var div = $(this).find('> div');
                    if (div.length > 0)
                        div.tooltip({container: 'body'});
                    else
                        $(this).tooltip({container: 'body'});
                });
            }, 200);
            
            //ColVis extension
            var colvis = new $.fn.dataTable.ColVis(oTable1, {
                "buttonText": "<i class='fa fa-search'></i>",
                "aiExclude": [0, 6],
                "showAll": true,
                //"bRestore": true,
                "align": "right",
                "fnLabel": function (i, title, th) {
                    return $(th).text(); //remove icons, etc
                }

            });
            //style it
            $(colvis.button()).addClass('btn-group').find('button').addClass('btn btn-white btn-info btn-bold')

            //and append it to our table tools btn-group, also add tooltip
            $(colvis.button())
                    .prependTo('.tableTools-container .btn-group')
                    .attr('title', '显示/隐藏列').tooltip({container: 'body'});
            //and make the list, buttons and checkboxed Ace-like
            $(colvis.dom.collection)
                    .addClass('dropdown-menu dropdown-light dropdown-caret dropdown-caret-right')
                    .find('li').wrapInner('<a href="javascript:void(0)" />') //'A' tag is required for better styling
                    .find('input[type=checkbox]').addClass('ace').next().addClass('lbl padding-8');
            /////////////////////////////////
            //table checkboxes
            $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);
            //select/deselect all rows according to table header checkbox
            $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
                var th_checked = this.checked; //checkbox inside "TH" table header

                $(this).closest('table').find('tbody > tr').each(function () {
                    var row = this;
                    if (th_checked)
                        tableTools_obj.fnSelect(row);
                    else
                        tableTools_obj.fnDeselect(row);
                });
            });
            //select/deselect a row when the checkbox is checked/unchecked
            $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
                var row = $(this).closest('tr').get(0);
                if (!this.checked)
                    tableTools_obj.fnSelect(row);
                else
                    tableTools_obj.fnDeselect($(this).closest('tr').get(0));
            });
            $(document).on('click', '#dynamic-table .dropdown-toggle', function (e) {
                e.stopImmediatePropagation();
                e.stopPropagation();
                e.preventDefault();
            });
            /********************************/
            //add tooltip for small view action buttons in dropdown menu
            $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
            //tooltip placement on right or left
            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('table')
                var off1 = $parent.offset();
                var w1 = $parent.width();
                var off2 = $source.offset();
                //var w2 = $source.width();

                if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2))
                    return 'right';
                return 'left';
            }
            </script>