<extend name="Public/base" />
<block name="page_content">
    <div class="clearfix">
        <div class="pull-right tableTools-container"></div>
    </div>

    <div>
        <table class="table table-striped table-bordered table-hover" id="dynamic-table">
            <thead>
                <tr>
                    <th class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace">
                            <span class="lbl"></span>
                        </label>
                    </th>
                    <th>管理员ID</th>
                    <th>管理员名</th>
                    <th class="hidden-480">最后登录IP</th>
                    <th class="hidden-480">最后登录时间</th>
                    <th class="hidden-480">登录次数</th>
                    <th class="hidden-480">用户状态</th>
                    <th>操作</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</block>
<block name="page_script">
    <script src="__JS__/bootbox.js"></script>

    <script>
        function lock_confirm(id)
        {
            $.post("__CONTROLLER__/lock", {id: id}, function (data) {
                if (data.status == 1)
                {
                    $("#lock_" + id).attr("title","锁定");
                    $("#lock_" + id).find("i").removeClass("fa-lock").addClass("fa-unlock");
                    $("#dynamic-table tbody tr").eq(--id).find("td").eq(6).html('<span class="label label-sm label-success">用户正常</span>');
                }
                else
                {
                    $("#lock_" + id).attr("title","解锁");
                    $("#lock_" + id).find("i").removeClass("fa-unlock").addClass("fa-lock");
                    $("#dynamic-table tbody tr").eq(--id).find("td").eq(6).html('<span class="label label-sm label-warning">用户被锁定</span>');
                }
            })
        }
    </script>
    <script src="__JS__/dataTables/jquery.dataTables.js"></script>
    <script src="__JS__/dataTables/jquery.dataTables.bootstrap.js"></script>
    <script src="__JS__/dataTables/extensions/ColVis/js/dataTables.colVis.js"></script>
    <script src="__JS__/dataTables/extensions/TableTools/js/dataTables.tableTools.js"></script>
    <script type = "text/javascript">
        $(function () {
            var oTable1 = $('#dynamic-table').dataTable({
                "ajax": "{:U('AdminManage/adminList')}",
                "columns": [
                    {
                        "data": "id",
                        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).html("<input type='checkbox' name='checkList' value='" + sData + "'>");
                        }
                    },
                    {"data": "id"},
                    {"data": "username"},
                    {"data": "last_login_ip"},
                    {"data": "last_login_time"},
                    {"data": "login"},
                    {"data": "status",
                        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            if (sData == 1)
                            {
                                $(nTd).html('<span class="label label-sm label-success">用户正常</span>');
                            }
                            else
                            {
                                $(nTd).html('<span class="label label-sm label-warning">用户被锁定</span>');
                            }
                        }
                    },
                    {
                        "dataProp": "id",
                        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {

                            html = '<div class="hidden-sm hidden-xs action-buttons">';
                            if (oData.status == 1)
                            {
                                html += ' <a id="lock_' + oData.id + '" href="javascript:lock_confirm(' + oData.id + ')" class="green" title="锁定"><i class="ace-icon fa fa-unlock bigger-130"></i></a>';
                            }
                            else {
                                html += ' <a id="lock_' + oData.id + '" href="javascript:lock_confirm(' + oData.id + ')" class="green" title="解锁"><i class="ace-icon fa fa-lock bigger-130"></i></a>';
                            }
                            html += '<a href="__CONTROLLER__/edit/id/' + oData.id + '" class="green" title="编辑"><i class="ace-icon fa fa-pencil bigger-130"></i></a>\n\
                                            <a href="__CONTROLLER__/delete/id/' + oData.id + '" class="red" title="删除"><i class="ace-icon fa fa-trash-o bigger-130"></i></a>\n\
                                        </div>';
                            html += '<div class="hidden-md hidden-lg">\n\
                                                <div class="inline pos-rel">\n\
                                                    <button data-position="auto" data-toggle="dropdown" class="btn btn-minier btn-yellow dropdown-toggle">\n\
                                                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>\n\
                                                    </button>\n\
                                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">\n\
                                                        <li><a class="tooltip-success"  href="javascript:lock_confirm(' + oData.id + "," + oData.status + ')" title="锁定"><span class="red"><i class="ace-icon fa fa-lock bigger-120"></i></span></a></li>\n\
                                                        <li><a class="tooltip-success" href="__CONTROLLER__/edit/id/' + oData.id + '" title="编辑"><span class="green"><i class="ace-icon fa fa-pencil-square-o bigger-120"></i></span></a></li>\n\
                                                        <li><a class="tooltip-error" href="__CONTROLLER__/edit/id/' + oData.id + '" title="删除"><span class="red"><i class="ace-icon fa fa-trash-o bigger-120"></i></span></a></li>\n\
                                                    </ul>\n\
                                                </div>\n\
                                        </div>';
                            $(nTd).html(html);
                        }
                    },
                ],
                "language": {
                    "lengthMenu": "每页 _MENU_ 条记录",
                    "zeroRecords": "没有找到记录",
                    "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
                    "infoEmpty": "无记录",
                    "infoFiltered": "(从 _MAX_ 条记录过滤)",
                    "search": "搜索:",
                    "emptyTable": "表中数据为空",
                    "loadingRecords": "载入中...",
                    "paginate": {
                        "first": "首页",
                        "previous": "上页",
                        "next": "下页",
                        "last": "末页"
                    }
                },
                "columnDefs": [
                    {
                        defaultContent: '',
                        targets: ['_all']
                    },
                    {
                        orderable: false,
                        targets: 0
                    },
                    {
                        orderable: false,
                        targets: 7
                    }
                ],
                "order": [[1, "asc"]],
                "autoWidth": false,
                "createdRow": function (row, data, index) {
                    for (var i = 3; i < 7; i++)
                    {
                        $('td', row).eq(i).addClass("hidden-480");
                    }
                }
            });
            //TableTools settings
            TableTools.classes.container = "btn-group btn-overlap";
            TableTools.classes.print = {
                "body": "DTTT_Print",
                "info": "tableTools-alert gritter-item-wrapper gritter-info gritter-center white",
                "message": "tableTools-print-navbar"
            }

            //initiate TableTools extension
            var tableTools_obj = new $.fn.dataTable.TableTools(oTable1, {
                "sSwfPath": "__JS__/dataTables/extensions/TableTools/swf/copy_csv_xls_pdf.swf", //in Ace demo ../assets will be replaced by correct assets path
                "sRowSelector": "td:not(:last-child)",
                "sRowSelect": "multi",
                "fnRowSelected": function (row) {
                    //check checkbox when row is selected
                    try {
                        $(row).find('input[type=checkbox]').get(0).checked = true
                    }
                    catch (e) {
                    }
                },
                "fnRowDeselected": function (row) {
                    //uncheck checkbox
                    try {
                        $(row).find('input[type=checkbox]').get(0).checked = false
                    }
                    catch (e) {
                    }
                },
                "sSelectedClass": "success",
                "aButtons": [
                    {
                        "sExtends": "copy",
                        "sToolTip": "复制到剪贴板",
                        "sButtonClass": "btn btn-white btn-primary btn-bold",
                        "sButtonText": "<i class='fa fa-copy bigger-110 pink'></i>",
                        "fnComplete": function () {
                            this.fnInfo('<h3 class="no-margin-top smaller">表格复制</h3>\
                                                                <p>复制了 ' + (oTable1.fnSettings().fnRecordsTotal()) + ' 行到剪贴板.</p>',
                                    1500
                                    );
                        }
                    },
                    {
                        "sExtends": "csv",
                        "sToolTip": "导出到CSV",
                        "sButtonClass": "btn btn-white btn-primary  btn-bold",
                        "sButtonText": "<i class='fa fa-file-excel-o bigger-110 green'></i>"
                    },
                    {
                        "sExtends": "pdf",
                        "sToolTip": "导出到PDF",
                        "sButtonClass": "btn btn-white btn-primary  btn-bold",
                        "sButtonText": "<i class='fa fa-file-pdf-o bigger-110 red'></i>"
                    },
                    {
                        "sExtends": "print",
                        "sToolTip": "打印视图",
                        "sButtonClass": "btn btn-white btn-primary  btn-bold",
                        "sButtonText": "<i class='fa fa-print bigger-110 grey'></i>",
                        "sMessage": "<div class='navbar navbar-default'><div class='navbar-header pull-left'><a class='navbar-brand' href='#'><small>Optional Navbar &amp; Text</small></a></div></div>",
                        "sInfo": "<h3 class='no-margin-top'>打印视图</h3>\
                                                                  <p>请使用你的浏览器的打印功能\
                                                                  打印此表格.\
                                                                  <br />完成后按 <b>ECS</b> 键退出.</p>",
                    }
                ]
            });
            //we put a container before our table and append TableTools element to it
            $(tableTools_obj.fnContainer()).appendTo($('.tableTools-container'));
            setTimeout(function () {
                $(tableTools_obj.fnContainer()).find('a.DTTT_button').each(function () {
                    var div = $(this).find('> div');
                    if (div.length > 0)
                        div.tooltip({container: 'body'});
                    else
                        $(this).tooltip({container: 'body'});
                });
            }, 200);
            //ColVis extension
            var colvis = new $.fn.dataTable.ColVis(oTable1, {
                "buttonText": "<i class='fa fa-search'></i>",
                "aiExclude": [0, 6],
                "sShowAll": "显示所有",
                "bShowAll": true,
                //"bRestore": true,
                "sAlign": "right",
                "fnLabel": function (i, title, th) {
                    return $(th).text(); //remove icons, etc
                }

            });
            //style it
            $(colvis.button()).addClass('btn-group').find('button').addClass('btn btn-white btn-info btn-bold')

            //and append it to our table tools btn-group, also add tooltip
            $(colvis.button())
                    .prependTo('.tableTools-container .btn-group')
                    .attr('title', '显示/隐藏列').tooltip({container: 'body'});
            //and make the list, buttons and checkboxed Ace-like
            $(colvis.dom.collection)
                    .addClass('dropdown-menu dropdown-light dropdown-caret dropdown-caret-right')
                    .find('li').wrapInner('<a href="javascript:void(0)" />') //'A' tag is required for better styling
                    .find('input[type=checkbox]').addClass('ace').next().addClass('lbl padding-8');
            /////////////////////////////////
            //table checkboxes
            $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);
            //select/deselect all rows according to table header checkbox
            $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
                var th_checked = this.checked; //checkbox inside "TH" table header

                $(this).closest('table').find('tbody > tr').each(function () {
                    var row = this;
                    if (th_checked)
                        tableTools_obj.fnSelect(row);
                    else
                        tableTools_obj.fnDeselect(row);
                });
            });
            //select/deselect a row when the checkbox is checked/unchecked
            $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
                var row = $(this).closest('tr').get(0);
                if (!this.checked)
                    tableTools_obj.fnSelect(row);
                else
                    tableTools_obj.fnDeselect($(this).closest('tr').get(0));
            });
            $(document).on('click', '#dynamic-table .dropdown-toggle', function (e) {
                e.stopImmediatePropagation();
                e.stopPropagation();
                e.preventDefault();
            });
        }
        )
    </script>
</block>